[Unit]
Description = Backend Service

[Service]
User=prometheus
WorkingDirectory=/opt/prometheus-2.52.0.linux-amd64
ExecStart=/opt/prometheus-2.52.0.linux-amd64/prometheus
SyslogIdentifier=prometheus

[Install]
WantedBy=multi-user.target